.navbar {
    height: 100%;
    width: 16.33%;
    float: left;
    padding: 15px;
    border-right: 1px solid hsl(0, 7%, 91%);
}

.label {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 180px;
}

td p {
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
}

tr {
    height: 60px;
}

a {
    text-decoration: none;
    color: #8C8888;
}


.header {
    width: 80.33%;
    display: grid;
    grid-template-columns: auto 4fr auto auto auto;
    align-items: center;
    padding-top: 60px;
}

.header > div {
    padding-left: 40px;
}

input {
    width: 175px;
    height: 48px;
    left: 450px;
    top: 59px;
    background: #FAFBFE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 117px;
    border: 1px solid hsl(0, 7%, 91%);
    text-align: center;
}


.wrapper {
    display: inline;

}

.modal{
    height: 300px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal.active{
    transform: scale(1);
}