.main_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_top__wrapper {
    min-width: 100%;
    padding: 160px 140px 0 140px;
    min-height: 1000px;
    font-weight: 900;
    background-color: #F7F7F7;
}

.main_top__icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main_top__icons {
    background-image: url('../images/main/check_icon_top.png');
    background-position: center top;
    width: 30px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_top__icons-wrapper-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 50%;
}

.hidden {
    min-width: 50%;
}

.main_top__brands-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main_top__brand {
    background-image: url('../images/main/adobe_icon.svg');
    background-position: center top;
    width: 30px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_top__text {
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 64px;
}

.main_top__text-blue {
    color: #00ABBD;
}

.main_top__image {
    background-image: url('../images/main/photo_top.png');
    background-position: center center;
    min-width: 632px;
    min-height: 625px;
    background-repeat: no-repeat;
    background-size: cover;
}

